*{
    margin: 0;
    padding: 0;
}

.background{
    height: 97vh;
    width: 100vw;
    background-image: url(../skyimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.tree{
    height: 100vh;
    width: 100vw;
    background-image: url(../grass.png);
    background-repeat: no-repeat;
}

.track{
    height: 30vh;
    width: 100vw;
    margin-top: 30em;
    /* background-image: url(../track.png); */
}

.car{
    height: 20vh;
    width: 50vw;
    /* background-image: url(../car.png); */
}

